# Network Configuration
VITE_CHAIN_ID=11155111
VITE_RPC_URL=https://1rpc.io/sepolia

# Wallet Connect Configuration
VITE_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66

# Contract Configuration
# Sepolia deployed contract: 0x87bF4F81892344Abef0bC5773f794A1B098830D7
VITE_CONTRACT_ADDRESS=0x87bF4F81892344Abef0bC5773f794A1B098830D7

# FHE Configuration
VITE_FHE_NETWORK_URL=https://1rpc.io/sepolia

