# Network Configuration
VITE_CHAIN_ID=11155111
VITE_RPC_URL=https://1rpc.io/sepolia

# Wallet Connect Configuration
VITE_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66

# Contract Configuration
VITE_CONTRACT_ADDRESS=

# FHE Configuration
VITE_FHE_NETWORK_URL=https://1rpc.io/sepolia

